html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    background-color: #bbb;
    border-top: 2px solid #999;
    color: white;
    font-size: 12pt;
    text-shadow: 1px 1px #333;
}

.footer a{
    color: white;
}

.deleteLink {
    display: inline-block;
    width: 100%;
}

.deleteLink:hover {
    background-color: #ccc;
    cursor: cell;
    text-decoration: none;
    color: #000;
}

.divComida {
    min-width:100%;
    overflow: hidden;
}

.divIngredientes{
    width: 70%;
    float:left;
    padding-right: 20px;
}
 .divReceta {
    width: 30%;
    float:left;
}