html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    background-color: #e7e7e7;
    border-top: 1px solid #c1c1c1;
    font-size: 12pt;
    color: #777;
}

.footer a{
    color: white;
}

.deleteLink {
    display: inline-block;
    width: 100%;
}

.deleteLink:hover {
    background-color: #ccc;
    cursor: cell;
    text-decoration: none;
    color: #000;
}

.divComida {
    display: table;
    width: 100%;
}

.divIngredientes{
    display: table-cell;
    width: 75%;
    vertical-align: top;
    padding-right: 20px;
}
 .divReceta {
    display: table-cell;
    width: 25%;
}

.capital {
    text-transform:capitalize;
}

.panel-resizable {
    overflow: auto;
}

.hide {
    display: none;
}

.btn-margin-top {
    margin-top: 1px;
}